[package]
name = "codexbar-core"
edition.workspace = true
license.workspace = true
version.workspace = true
authors.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
